/* style.css */

/* Reset de estilos padrão */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, violet, #00ffff);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    line-height: 1.6;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Estilo para botões */
.button {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    background-color: #00bfff; /* Azul claro */
    color: #fff;
    border: 2px solid #00bfff; /* Borda do mesmo tom do fundo */
    border-radius: 30px; /* Bordas arredondadas */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
}

.button:hover {
    background-color: #0077b6; /* Azul mais escuro ao passar o mouse */
    border-color: #0077b6; /* Borda mais escura ao passar o mouse */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    text-align: center;
    color: #fff;
}
